{
  "$schema": "schema.json",
  "$modules": [
    {
      "name": "meta",
      "$ref": ".ai.modules/meta.json"
    },
    {
      "name": "architecture",
      "$ref": ".ai.modules/architecture.json"
    },
    {
      "name": "errors",
      "$ref": ".ai.modules/errors.json"
    },
    {
      "name": "tasks",
      "$ref": ".ai.modules/tasks.json"
    },
    {
      "name": "context",
      "$ref": ".ai.modules/context.json"
    },
    {
      "name": "references",
      "$ref": ".ai.modules/references.json"
    },
    {
      "name": "user_preferences",
      "$ref": ".ai.modules/user_preferences.json"
    },
    {
      "name": "research",
      "$ref": ".ai.modules/research.json"
    },
    {
      "name": "update_config",
      "$ref": ".ai.modules/update_config.json"
    },
    {
      "name": "machine_learning",
      "$ref": ".ai.modules/machine_learning.json"
    }
  ]
}
